{
  "arrowParens": "always",
  "bracketSameLine": true,
  "objectWrap": "preserve",
  "bracketSpacing": true,
  "semi": true,
  "experimentalOperatorPosition": "end",
  "experimentalTernaries": true,
  "singleQuote": false,
  "jsxSingleQuote": true,
  "quoteProps": "preserve",
  "trailingComma": "all",
  "singleAttributePerLine": false,
  "htmlWhitespaceSensitivity": "css",
  "vueIndentScriptAndStyle": false,
  "proseWrap": "always",
  "endOfLine": "crlf",
  "insertPragma": false,
  "printWidth": 80,
  "requirePragma": false,
  "tabWidth": 2,
  "useTabs": false,
  "embeddedLanguageFormatting": "auto",
  "cursorOffset": -1
}
